/* Calendar container */
.react-calendar {
    width: 90%;
    max-width: 100vh;
    background-color: #fff;
    font-family: Arial, sans-serif;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  }
  
  /* Calendar navigation */
  .react-calendar__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem;
    background-color: #f8f8f8;
  }
  
  .react-calendar__navigation button {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.15s ease-in-out;
  }
  
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    color: #1976d26b;
  }
  
  .react-calendar__navigation button[disabled] {
    color: #dcdcdc;
    cursor: default;
  }
  
  .react-calendar__navigation__label {
    font-size: 18px;
    font-weight: bold;
  }
  
  /* Calendar month view */
  .react-calendar__viewContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .react-calendar__month-view__weekdays {
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding: 1rem;
    background-color: #f8f8f8;
  }
  
  .react-calendar__month-view__weekdays__weekday {
    flex: 1;
    text-align: center;
  }
  
  .react-calendar__month-view__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.1rem;
    background-color: #fff;
  }
  
  .react-calendar__tile {
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 10vh;
  }
  
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: #f2f2f2;
    cursor: pointer;
  }
  
  .react-calendar__tile--active {
    background-color: #1976d2;
    color: #fff;
  }
  
  /* Event dot */
  .event-dot {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin-bottom: 0.5rem;
  }
  
  /* Event day */
  .event-day {
    font-weight: bold;
    font-size: 1rem;
    color: #1976d297;
    margin-top: auto;
  }
  
  /* Custom styles for specific event circles */
  .event-tile.circle-color1 .event-dot {
    background-color: #f443367f;
  }
  
  .event-tile.circle-color2 .event-dot {
    background-color: #3f51b58b;
  }
  
  .event-tile.circle-color3 .event-dot {
    background-color: #4caf4f82;
  }