
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Poppins:wght@300;500;600;700;800&display=swap');

// Primary font stack (sans-serif-based), for most UI elements
$primary-font-stack: 'Merriweather Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
	Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
// Secondary font stack (also sans-serif), for headings, buttons, and labels
$secondary-font-stack: Poppins, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
	Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

$primary-font-color: rgb(78, 76, 76);

.user-home-page {
	display: flex;
    flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
	margin: 0.5rem auto;
    height: 100vh;
    background-image: url('https://www.bluleadz.com/hubfs/circles-257002-edited.png');
	background-position: center;
    background-repeat: no-repeat;
    background-size: 90rem;

	color: $primary-font-color;
	font-family: $primary-font-stack;
	font-weight: 800;
	font-size: 1rem;
	line-height: 1rem;
	letter-spacing: 0.015rem;
}

.user-display {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	// background-color: rgba(255, 255, 255, 0.759);
	border-radius: 2rem;
	width: 80%;
	height: 100%;
	padding: 2rem 0;
}

.circle-column {
	border-radius: 2rem;
	display: flex;
	justify-content: left;
    flex-direction: column;
	background-color: rgba(255, 255, 255, 0.759);
    align-items: left;
	margin: 0 auto;
	width: 20%;
	padding: auto;
}

.circle-col-tile {
	border-radius: 6rem;
	padding: 1rem;
	margin: 1rem;
}

.settings {
	position:static;
	margin: 1rem 0 0 52rem;
	float: left !important;
	width: 10%;
}

.settings-btn{
	// display: contents;
	background-color: white;
	border-radius: 6rem;
	border: none;
	outline: none;
	
	height: 2rem;
	background: white;
	color: $primary-font-color;
	cursor: pointer;
	width: 50%;
	margin: 0.25rem auto;
	line-height: 1rem;
	letter-spacing: 0.05rem;
	transition: filter 100ms linear;

	&.icon-button {
		display: inline-flex;

		padding: 0;

		justify-content: center;
		align-items: center;
	}
	&:hover,
	&:focus {
		filter: brightness(0.9);
		background: #ffef00
	}
	&:active {
		filter: brightness(0.8);
	}
}

/// Calendar Pop-up Styles

.highlighted {
	background-color: #FFD700; /* Customize the circle color */
  }
  

.popup-overlay {
	position: fixed;
	z-index: 3;
	background-color: white;
	padding: 2rem;
	border: 0.01rem solid #ccc;
	box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.135);
	overflow: scroll;
	max-width: 15rem;
	max-height: 7rem;
  }
  
.popup-info {
	margin-top: 0;
  }
  